<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/CSS/styles.css">
    <link href="{{site.baseurl}}/CSS/monokai.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: #171717">

    <div class="container">
        {% include header.html %}      
    </div>

    <div class="container" style="color: white;">
            {{content}}
    </div>
</body>

</html>