---
layout: default
permalink: /:title/
---

{{ content }}

<h4 style="color: orange;">Share this:</h4>

<div class="share-buttons">
    <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Facebook" >
        <i class="fab fa-facebook" style="color: white;font-size: 20px; padding: 5; background: #363636; border-radius: 30%; margin: 5;"> facebook</i>
    </a>

    <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Twitter" >
        <i class="fab fa-twitter" style="color: white;font-size: 20px; padding: 5; background: #363636; border-radius: 30%; margin: 5;"> twitter</i>
    </a>

    <a  href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Google+" >
        <i class="fab fa-google-plus-g" style="color: white;font-size: 20px; padding: 5; background: #363636;; border-radius: 30%; margin: 5;"> google</i>
    </a>

    <a  href="https://www.pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Pinterest" >
        <i class="fab fa-pinterest" style="color: white;font-size: 20px; padding: 5; background: #363636; border-radius: 30%; margin: 5;"> pinterest</i>
    </a>

    <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on LinkedIn" >
        <i class="fab fa-linkedin-in" style="color: white;font-size: 20px; padding: 5; background: #363636; border-radius: 30%; margin: 5;"> linkedin</i>
    </a>

    <a  href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
        title="Share via Email" >
        <i class="fas fa-envelope" style="color: white;font-size: 20px; padding: 5; background: #363636; border-radius: 30%; margin: 5;"> email</i>
    </a>
</div>

