---
layout: page
title: About
where: About
permalink: /about
desc: My name is Robert-Nicolae Solca. I am a Computer Engineering Student at Faculty of Electrical Engineering and Computer Science.

---
<style>
  .checked{color: orange;}
</style>
<div class="float-sm-right"><img style="max-width: 15em;" src="{{site.baseurl}}/assets/img/me.png"/></div>

<h2 style="color: orange">Welcome!</h2>
<br>
My name is <b>Robert-Nicolae Solca</b>. I am a Computer Engineering Student at Faculty of Electrical Engineering and Computer Science.
<br><br>


During High School I've participated at a multitude of IT&C contests, thus developing a deeper knowledge of computers, networks and programming languages. This made me to receive many awards, including 3 bronze medals. To strengthen my technical skills I've also worked on personal projects, such as a collection of scripts that can be used to test a system's security.
During this period I've taken care of my soft skills by participating in debate contests that helped me develop my critical thinking and communication skills.
<br><br>
Now I am focusing on increasing my knowledge about computers and how they work while also further developing my soft skills. 

<h2 style="color: orange">Links</h2>

<a style="color: white;" href="https://www.linkedin.com/in/robert-nicolae-%C8%99olc%C4%83-526441167/"><i class='fab fa-linkedin-in' style='font-size:24px'></i></a>
<a  style="color: white;" href="https://www.instagram.com/q1e123/"><i class='fab fa-instagram' style='font-size:24px'></i></a>
<a style="color: white;" href="https://github.com/q1e123"><i class='fab fa-github' style='font-size:24px'></i></a>
<br><br>


<div class="accordion" id="accordionExample" >
    <div class="card">
      <div class="card-header" id="Skills" style="background: #2e2e2e;">
        <h2 class="mb-0">
          <button class="btn btn-link justify-content-center" type="button" data-toggle="collapse" data-target="#SkillsInside" aria-expanded="true" aria-controls="SkillsInside">
              <h1><i class='fas fa-desktop'></i>
                Skills</h1>  
          </button>
        </h2>
      </div>
  
      <div id="SkillsInside" class="collapse" aria-labelledby="Skills" data-parent="#accordionExample">
        <div class="card-body" style="background: #333333">
            <div class="card" style="background: transparent; border: none">
                <div class="card-content" style="background:#808080; border-radius: 5%; margin: 2%;">
                  <h3 style="text-align: center;">Web</h3>
                  <h4 style="text-align: center;">Front-End</h4>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/html5.png" class="img-thumbnail" style="background: transparent;border:0;"/>                              
                         
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/css.png" class="img-thumbnail" style="background: transparent;border:0;"/>                        
                        
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/bootstrap.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                        
                      </div>         
                    </div>
                    <div class="row justify-content-center"> 
                      
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>

                      </div>
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="col col-md-2">
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>  

                    </div>
                    <br>
                    <h4 style="text-align: center;">CMS</h4>
                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                            <img src="{{site.baseurl}}/assets/img/wordpress.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                          </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>                        
                          </div>
                    </div>
                    <br>
                    <h4 style="text-align: center;">Other</h4>
                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                            <img src="{{site.baseurl}}/assets/img/jekyll.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>                        
                          </div>
                    </div>
                           
                    </div>
                </div>
              </div>  
        <div class="card-body" style="background: #333333">
            <div class="card" style="background: transparent; border: none;">
                <div class="card-content" style="background:#808080; border-radius: 5%; margin: 2%;">
                  <h3 style="text-align: center;">Software Development</h3>
                  <h4 style="text-align: center;">Languages</h4>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                          <img src="{{site.baseurl}}/assets/img/python.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/C.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/C++.png" class="img-thumbnail" style="background: transparent;border:0;"/>                     
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/Cs.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>                        
                      </div>
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>                        
                      </div>
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>                        
                      </div>
                  </div>
                  <h4 style="text-align: center;">Frameworks</h4>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                          <img src="{{site.baseurl}}/assets/img/Selenium.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col col-md-2">
                      <i class="fa fa-star checked"></i>
                      <i class="fa fa-star checked"></i>
                      <i class="fa fa-star checked"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>                        
                    </div>
                  </div>
                </div>
              </div>  
        </div>


        <div class="card-body" style="background: #333333">
            <div class="card" style="background: transparent; border: none">
                <div class="card-content" style="background:#808080; border-radius: 5%; margin: 2%;">
                  <h3 style="text-align: center;">Database</h3>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                          <img src="{{site.baseurl}}/assets/img/sql.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                      </div>
                  </div>

                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>                        
                      </div>
                  </div>
                </div>
              </div>  
        </div>

        <div class="card-body" style="background: #333333">
            <div class="card" style="background: transparent; border: none">
                <div class="card-content" style="background:#808080; border-radius: 5%; margin: 2%;">
                  <h3 style="text-align: center;">Operating Systems</h3>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/linux.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                      </div>
                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/W10.png" class="img-thumbnail" style="background: transparent;border:0;"/> 
                      </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>                        
                        </div>
                        <div class="col col-md-2">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>                        
                        </div>
                    </div>
                  </div>
                </div>
        </div>


        

        <div class="card-body" style="background: #333333">
            <div class="card" style="background: transparent; border: none">
                <div class="card-content" style="background:#808080; border-radius: 5%; margin: 2%;">
                  <h3 style="text-align: center;">Other</h3>
                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                          <img src="{{site.baseurl}}/assets/img/Office.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                      </div>

                      <div class="col col-md-2">
                        <img src="{{site.baseurl}}/assets/img/VBA.png" class="img-thumbnail" style="background: transparent;border:0;"/>
                     </div>
                  </div>

                  <div class="row justify-content-center">
                      <div class="col col-md-2">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>                        
                      </div>
                      <div class="col col-md-2">
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star checked"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>                        
                      </div>
                  </div>
                </div>
              </div>  
        </div>

      </div>
    </div>

    
    
    <div class="card">
        <div class="card-header" id="Education" style="background: #2e2e2e;">
          <h2 class="mb-0">
            <button class="btn btn-link justify-content-center" type="button" data-toggle="collapse" data-target="#EducationInside" aria-expanded="true" aria-controls="EducationInside">
                <h1><i class='fas fa-graduation-cap'></i>
                  Education</h1>  
            </button>
          </h2>
        </div>
        
        <div id="EducationInside" class="collapse" aria-labelledby="Education" data-parent="#accordionExample" >
            <div class="card-body" style="background: #333333">
              
              <div class="row">
                <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;"> 
                    <h3 style="text-align: center;"><i>Transilvania Univerisity of Brasov</i>, Faculty of electrical engineering and computer science</h3>
                    <p style="text-align: center;"><b> Computer Engineering</b></p>

                      <p style="text-align: center;"> <small>Brasov, Romania</small></p>
                      <p style="text-align: center;"> <small>October 2019 - Present</small> </p>
                </div>
                <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                    <h3 style="text-align: center;"> <i>Grigore Moisil</i> National College of Computer Science</h3>
                    <p style="text-align: center;"> <small>Brasov, Romania</small></p>
                    <p style="text-align: center;"> <small>September 2015 - June 2019</small> </p>
                    <ul>
                      <li>Programming and IT&C contests</li>
                      <li>Infotron</li>
                      <li>Fit for future (Schaeffler- Software Developer)</li>
                      <li>Debate club</li>
                    </ul>
                </div>
              </div>
            </div>
          
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="Awards" style="background: #2e2e2e;">
          <h2 class="mb-0">
            <button class="btn btn-link justify-content-center" type="button" data-toggle="collapse" data-target="#AwardsInside" aria-expanded="true" aria-controls="AwardsInside">
                <h1><i class='fas fa-trophy'></i>
                  Awards</h1>  
            </button>
          </h2>
        </div>
    
        <div id="AwardsInside" class="collapse" aria-labelledby="Awards" data-parent="#accordionExample" >
            <div class="card-body" style="background: #333333">
                <div class="card" style="background: transparent; border: none">
                    <div class="card-content">
                      <h3 style="text-align: center;"> Computer Science and IT&C</h3>

                      <div class="row">
                        <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                            <h5>5<sup>th</sup> place, Acadnet, Software Interoperability section, National stage</h5>
                            <small>Ministry of Education, Research and Science<br>2019</small>
                            <ul><br>
                              <li>Debugged C and C++ code</li>
                              <li>Wrote C++ code to use as little memory as possible</li>
                            </ul>
                        </div>

                        <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                            <h5>3 Bronze Medals, National Olympiad of Information Technology and Communications, IT&C Section</h5>
                            <small>Ministry of Education, Research and Science<br>2016 - 2018</small>
                            <ul><br>
                              <li>Used HTML5 and CSS to create websites</li>
                              <li>Used Microsoft Access and SQL for database managment</li>
                              <li>Used Microsoft Word for document editing</li>
                              <li>Used Microsoft PowerPoint and VBA to create small games and slideshows</li>
                              <li>Used Microsoft Excel and VBA for spreadsheet editing and to create macros for workflow automation</li>
                              <li>Done Windows 7 system administration</li>
                            </ul>
                        </div>

                        <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                            <h5>15<sup>th</sup> place, History and Society in VIrtual Dimension, Humanities section, National stage</h5>
                            <small>Ministry of Education, Research and Science<br>2017</small>
                            
                            <ul><br>
                              <li>Used C# and SQL to create a software that eases the process of finding the MBTI indicator for multiple persons </li>
                            </ul>
                        </div>
                      </div>
                      <div class="row">

                        
                          <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                              <h5>3<sup>rd</sup> place, InfoEducatie, Educational Software section, regional stage</h5>
                              <small>Ministry of Education, Research and Science<br>2017</small>
                              <ul><br>
                                <li>Used C# to create a software that is improving cognitive skills using small games</li>
                              </ul>
                          </div>
  
                          <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                              <h5>12 * 1<sup>st</sup> place, Programming and IT&C contests, regional stage</h5>
                              <small>Ministry of Education, Research and Science<br>2016-2019</small>
                              <ul><br>
                                <li>Debugged C and C++ code</li>
                                <li>Used PacketTracer to create and manage virtual networks</li>
                                <li>Computer and networking troubleshooting</li>
                                <li>Used Microsoft Office at a professional level</li>
                                <li>Used HTML5 and CSS to create websites</li>
                              </ul>
                          </div>  
                        </div>
                    </div>
                </div> 

                <div class="card"  style="background: transparent; border: none">
                    <div class="card-content">
                        <h3 style="text-align: center;" > Debate</h3>
                        <br><br>
                        <div class="row">
                          <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                              <h5>2<sup>nd</sup> place, Tinerii Dezbat, Individual Ranking, National stage</h5>
                              <small>Ministry of Education, Research and Science<br>2019</small>

                              <ul><br>
                                <li>Role: 3<sup>rd</sup> Speaker</li>
                              </ul>
                          </div>
                          <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                              <h5>Top 8, Tinerii Dezbat, Teams Ranking, National stage</h5>
                              <small>Ministry of Education, Research and Science<br>2019</small>

                              <ul>
                                  <br>

                                <li>Role: 3<sup>rd</sup> Speaker</li>
                              </ul>
                          </div>
                          <div class="col" style="background:#808080; border-radius: 5%; margin: 2%;">
                              <h5>3<sup>rd</sup> Place, MegaDebate, Teams Ranking</h5>
                              <small>Ministry of Education, Research and Science<br>2019</small>

                              <ul><br>
                                <li>Role: 2<sup>nd</sup> Speaker</li>
                              </ul>
                          </div>
                        </div>
                    </div>

                </div> 
              <br><br>
            </div>
        </div>
    </div>

</div>