---
layout: page
title: What is bad about
where: What_is_bad_about
permalink: /WIBA
desc: What is bad about
---
<h1 style="color:orange;">What is bad about:</h1>

{% for post in site.categories["bad"] %}
    <li style="color: white;"><a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
{% endfor %}