---
layout: page
title: Data structures and algorithms
where: Programming
permalink: /Programming/ds_a
desc: Learn data structures and algorithms
---
<h1 style="color:orange;">Data structures and algorithms</h1>
<p>For algorithms you will find the code and a proof. For data structures you will find the data structre and its operations</p>

<h2 style="color:orange;">Data structures</h2>
{% for post in site.tags["ds"] %}
    <a href="{{post.url}}"><li style="color: cornflowerblue;">{{ post.title }}</li></a>
{% endfor %}

<br><br>
<h2 style="color:orange;">Algorithms</h2>
{% for post in site.tags["algo"] %}
    <a href="{{post.url}}"><li style="color: cornflowerblue;">{{ post.title }}</li></a>
{% endfor %}