---
layout: page
title: Networking
where: IT
permalink: /networking
desc: Learn networking
---
<h1 style="color:orange;">Linux</h1>
<p>Subnetting is fun</p>

{% for post in site.tags["networking"] %}
    <a href="{{post.url}}"><li style="color: cornflowerblue;">{{ post.title }}</li></a>
{% endfor %}