---
layout: page
title: Projects
where: Projects
permalink: /projects
desc: Robert's portofolio
---

<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                <div class="card-body text-center" >
                    <h5 class="card-title">qSecTools</h5>
                    <span class="badge badge-pill badge-primary">Python</span>
                    <span class="badge badge-pill badge-warning">In progress</span>
                    <br><br>
                    <p class="card-text ">Collection of security scripts and programs</p>
                    <a href="https://github.com/q1e123/qSecTools" class="btn btn-primary" style="alig">See code</a>
                </div>
        </div>
    </div>

    <div class="col-4">
            <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                    <div class="card-body text-center" >
                        <h5 class="card-title">NaM</h5>
                        <span class="badge badge-pill badge-primary">Python</span>
                        <span class="badge badge-pill badge-primary">Selenium</span>
                        <span class="badge badge-pill badge-warning">In progress</span>
                        <br><br>
                        <p class="card-text ">Collection of bots</p>
                        <a href="https://github.com/q1e123/NaM" class="btn btn-primary" style="alig">See code</a>
                    </div>
            </div>
    </div>


    <div class="col-4">
            <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                    <div class="card-body text-center" >
                        <h5 class="card-title">Personal Site</h5>
                        <span class="badge badge-pill badge-primary">HTML5</span>
                        <span class="badge badge-pill badge-primary">CSS3</span>
                        <span class="badge badge-pill badge-primary">Bootstrap</span>
                        <span class="badge badge-pill badge-primary">Jekyll</span>
                        <span class="badge badge-pill badge-success">Done</span>
                        <br><br>
                        <p class="card-text ">This site</p>
                        <a href="https://github.com/q1e123/robertsolca" class="btn btn-primary" style="alig">See code</a>
                    </div>
            </div>
    </div>
    
        <div class="col-4">
                <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                        <div class="card-body text-center" >
                        <h5 class="card-title">qTheme</h5>
                        <span class="badge badge-pill badge-primary">HTML5</span>
                        <span class="badge badge-pill badge-primary">CSS3</span>
                        <span class="badge badge-pill badge-primary">Bootstrap</span>
                        <span class="badge badge-pill badge-primary">Jekyll</span>
                        <span class="badge badge-pill badge-success">Done</span>
                        <br><br>
                        <p class="card-text ">This site's jekyll theme</p>
                        <a href="https://github.com/q1e123/qtheme" class="btn btn-primary" style="alig">See code</a>
                        </div>
                </div>
        </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                <div class="card-body text-center" >
                    <h5 class="card-title">MILS</h5>
                    <span class="badge badge-pill badge-primary">C</span>
                    <span class="badge badge-pill badge-success">Done</span>
                    <br><br>
                    <p class="card-text ">Shell implementation</p>
                    <a href="https://github.com/q1e123/MILS" class="btn btn-primary" style="alig">See code</a>
                </div>
        </div>
    </div>
    <div class="col-4">
            <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                    <div class="card-body text-center" >
                        <h5 class="card-title">Cryptmate</h5>
                        <span class="badge badge-pill badge-primary">C#</span>
                        <span class="badge badge-pill badge-primary">SQL</span>
                        <span class="badge badge-pill badge-success">Done</span>
                        <br><br>
                        <p class="card-text ">Software that stores passwords using encryption and generates secure passwords</p>
                    </div>
            </div>
    </div>

    <div class="col-4">
            <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                    <div class="card-body text-center" >
                        <h5 class="card-title">MBTI Tester</h5>
                        <span class="badge badge-pill badge-primary">C#</span>
                        <span class="badge badge-pill badge-primary">SQL</span>
                        <span class="badge badge-pill badge-success">Done</span>
                        <br><br>
                        <p class="card-text ">Software that eases the process of finding MBTI indicator for multiple people.</p>
                    </div>
            </div>
    </div>

    <div class="col-4">
            <div class="card" style="width: 18rem;background: #2e2e2e; border-radius: 5%;margin: 3%;">
                    <div class="card-body text-center" >
                        <h5 class="card-title">TextBasedRougeLike</h5>
                        <span class="badge badge-pill badge-primary">C++</span>
                        <span class="badge badge-pill badge-success">Done</span>
                        <br><br>
                        <p class="card-text ">Template for a console text-based rougelike game</p>
                        <a href="https://github.com/q1e123/TextBasedRougeLike" class="btn btn-primary" style="alig">See code</a>
                    </div>
            </div>
    </div>
    
</div>