---
layout: post
title:  Variables
categories: [lesson]
tag: [basics]
where: Programming
permalink: /:categories/:title
desc: Imagine that you pass by a river and you want to get some water for later use. One way of doing that is by storing the water in a container. In programming you don't want to store water but data and you do it by putting it in a variable.
---

<div class="post">

                <h2>Introduction</h2>
                <br>
                <p>
                Imagine that you pass by a river and you want to get some water for later use. One way of doing that is by storing the water in a container. In programming you don't want to store water but data and you do it by putting it in a **variable**.
                <br><br>
                Now imagine that you don't want to store water but some other substance that has a complicated name. You can put it in a bottle and if you need it later you know you need that bottle so things become easier.
                <br><br>
                So a formal definion of a variable can be:
                <br>
                <blockquote class="blockquote">
                        <p class="mb-0"> <b>Variable</b> = symbolic name associated with a value and whose associated value <b>may</b> be changed</p>
                </blockquote>
                </p>      
                <br>
                
                <h2>Data types </h2>
                <br>
                <p>
                The bottle in which the substance will be stored can have different characteristics. It can be a red bottle, it can be a green bottle and so on. So what bottle will you choose? Most probablly you will choose the bottle that can be used to store that substance and that can be used to do whatever you want to do with it.
                <br><br>
                In programming it's the same but there are no green bottles there are but there are <b>data types</b> . You have a variety of data types, depending on what programming language you are using. I will cover in more depth this subject in the next lesson.
                </p>
                <br>
                
                <h2>Naming</h2>
                <br>
                <p>
                You need to follow some rules regarding the naming of the variables. This stuff depends on the programming languages but usually these are the rules:
                <br>
                <ul>
                    <li> You can only use letters, numbers and underscores</li>
                    <li> The variable name needs to start with a letter or an underscore</li>
                    <li> No keywords (example: you can't name your variable the same as a data type)</li>
                </ul>
                Programming languages can be case sensitive, meaing that <i>this</i> is not the same as <i>THIS</i>.
                </p>
                <br>
                
                <h2>Where are variables stored?</h2>
                <p>
                
                        <br>
                        This depends on the programming language and its compiler/environment. Usually they are stored either in RAM or in the registers.
                        I will get into compilers later, for now you just need to know that the variables are stored somewhere in the memory. 
                        <br>
                </p>
                <br>
                <h2>Declaring variables</h2>
                <p>
                        Before using a variable the computer first needs to allocate the memory for that variable. It's like before going to a trip you need to prepare yourself. 
                        In <b>most</b> programming languages to declare a variable you do something like this:
                
                <br>
                
{% highlight cpp %}
data_type x
{% endhighlight %}
                        <br>
                <h3>Example</h3>
                        
                        In C++, if you want to declare a variable that will store integer values  you do:<br>
                        <br>
{% highlight cpp %}
int x;
{% endhighlight %}
                </p>
                <br>
                
                <h2>Assignment</h2>
                <br>
                <p>
                        Usually to store a value into a variable you do somthing like this:
                <br>
{% highlight cpp %}
variable_name = value
{% endhighlight %}
                        
                        <h3>Example</h3>
                        
                        In C++ if you want to store value *0* into the variable that we've declared previous you do:<br>
{% highlight cpp %}
x = 0;
{% endhighlight %}
                        <br>
                        In most programming languages you can do declaration and assignment in the same time:<br>
                        
{% highlight cpp %}
data_type x = value
{% endhighlight %}
                        <br>
                        <h3>Example</h3>
                        <br>
                        By combining the two previous examples we get:<br>
{% highlight cpp %}
int x = 0;
{% endhighlight %}
                        
                </p>
                <br>
<b>If you are wandering where should you write this code, I am going to teach that later, for now I will go over the basics.
</div>
